# Python
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Environment
.env

# Power BI
*.pbix
*.pbit

# Excel files (optional - remove if you want to keep data)
*.xlsx
*.xls

# SQL temp / backup files
*.sql~
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

